@import "typography-style.css";

.sidebar-container {
    position: fixed;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;
    height: 8rem;
    width: 100%;
    padding: 0 18rem;
    background-color: var(--grey-1);
    transition: 0.5s;
    z-index: 99;
}

.logo-name img {
    height: 8rem;
    width: 8rem;
    cursor: pointer;
    transition: 0.5s ease-in-out;
}

.logo-name img:hover {
    transform: scale(1.1);
}

.sidebar-list {
    display: flex;
    justify-content: space-between;
    list-style: none;
    font-family: var(--poppins);
    font-size: 2.4rem;
    font-weight: 600;
    color: var(--blue-5);
}

.sidebar-list li {
    border: 1px solid var(--grey-11);
    border-radius: 5px;
    padding: 1rem;
    cursor: pointer;
    transition: 0.5s ease-in-out;
}

.sidebar-list li:hover {
    transform: scale(1.1);
    color: var(--blue-7);
    box-shadow: 0 0 5px var(--blue-5);
}

@media (max-width: 870px) {
    .sidebar-container {
        justify-content: space-around;
        padding: 0;
    }
}

@media (max-width: 540px) {
    .sidebar-container {
        display: none;
    }
}
