@import 'typography-style.css';

.container-project {
    margin: 3rem 18rem 0 0;
    display: flex;
    flex-direction: column;
    justify-content: right;
}

.title-container-project {
    display: flex;
    justify-content: right;
    align-items: center;
    margin-bottom: 3rem;
}

.title-container-project img {
    height: 3.5rem;
    width: 3.5rem;
}

.title-container-project h2 {
    font-size: 4.8rem;
    font-family: var(--poppins);
    font-weight: 400;
    color: var(--grey-11);
    margin-left: 1rem;
}

.main-container-project {
    display: flex;
    flex-direction: column;
    justify-content: right;
    align-items: flex-end;
}

.type-project {
    display: flex;
    align-items: flex-start;
    height: 38rem;
    width: 96rem;
    background-color: var(--grey-3);
    box-shadow: 1px 1px #181818;
    margin-bottom: 4rem;
    border-radius: 5px;
}

.left-side-project {
    margin: 5rem 2rem 0 2rem;
}

.container-image {
    height: 23rem;
    width: 42rem;
    border-radius: 5px;
    margin: 0 1rem 2rem 1rem;
}

.container-image img {
    height: 100%;
    width: 100%;
    border-radius: 0.5rem;
}

.skills-used-container {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    width: 42rem;
    margin: 0 1rem;
}

.skills-used-container div {
    min-height: 2.5rem;
    min-width: 8rem;
    margin: 0 1.5rem 1.5rem 0;
    padding: 0.5rem;
    background-color: var(--grey-2);
    border-radius: 5px;
    font-size: 1.4rem;
    font-family: var(--openSans);
    font-weight: 400;
    text-align: center;
    color: var(--grey-11);
    transition: ease-in-out .5s;
}

.skills-used-container div:hover {
    background-color: var(--blue-5);
}

.description-project {
    margin: 4rem 0 10rem 0;
}

.description-project h3 {
    font-size: 3.2rem;
    font-family: var(--poppins);
    font-weight: bold;
    color: var(--blue-5);
    text-align: left;
    margin-bottom: 0.5rem;
}

.description-project p {
    font-size: 1.6rem;
    font-family: var(--openSans);
    font-weight: 400;
    color: var(--grey-10);
    text-align: left;
    max-width: 28rem;
    height: 20rem;
}

.container-btn-project {
    display: flex;
    justify-content: space-between;
    max-width: 28rem;
}

.container-btn-project button:nth-child(1) {
    height: 4.2rem;
    width: 10.6rem;
    font-size: 1.6rem;
    font-family: var(--openSans);
    font-weight: 400;
    background-color: transparent;
    color: var(--blue-7);
    border: 1px solid var(--blue-5);
    border-radius: 5px;
    transition: ease-in-out .5s;
}

.container-btn-project button:nth-child(2) {
    height: 4.2rem;
    width: 12.2rem;
    border-radius: 5px;
    box-shadow: 1px 1px #353535;
    border: 0;
    background:linear-gradient(var(--gradient-btn-2));
    font-size: 2.4rem;
    font-family: var(--openSans);
    font-weight: 400;
    color: var(--grey-11);
    transition: ease-in-out .5s;
}

.container-btn-project button:hover {
    transform: scale(1.1);
}

.github-project{
    font-size: 2rem;
    font-family: var(--openSans);
    font-weight: 400;
    margin: 0 0 0 auto;
    color: var(--grey-11);
    transition: ease-in-out .5s;
    margin-bottom: 2rem;
}

.github-project:hover {
    transform: scale(1.05);
    font-weight: bold;
    color: var(--blue-5);
}


@media (max-width: 1200px) {

    .container-project {
        margin: 3rem auto;
        justify-content: center;
    }

    .title-container-project {
        justify-content: center;
    }

    .main-container-project {
        justify-content: center;
        align-items: center;
    }

    .type-project {
        display: flex;
        flex-flow: column wrap;
        height: auto;
        width: 90%;
        margin:0 2rem 3rem 2rem;
    }

    .left-side-project {
        margin: 5rem auto 0 auto;
    }
    
    .container-image {
        height: auto;
        width: auto;
        margin: 0 1.5rem;
    }

    .skills-used-container {
        justify-content: space-evenly;
        width: auto;
    }
    
    .skills-used-container div {
        margin: 0.5rem 0;
    }

    .description-project {
        margin: 1.5rem auto 5rem auto;
    }

    .description-project h3 {
        text-align: center;
        margin: 0 1rem 0.5rem 1rem;
    }
    
    .description-project p {
        text-align: left;
        height: auto;
        max-width: 50rem;
        margin: 0 2rem 3rem 2rem;
        padding: 0 1rem;
    }

    .container-btn-project {
        margin: 1rem auto;
        padding: 0 1.5rem;
    }

    .github-project{
        font-size: 1.5rem;
        text-align: center;
        margin: 0 auto;
    }

    .github-project:hover {
        transform: scale(1);
    }
}


